---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces/ip17s12q0ek4/entries/job_skills_1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer <ACCESS_TOKEN>
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: !ruby/marshalable:HTTP::Response::Status
        :__v2__:
        - :@code
        ? - 401
        : 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
    body:
      encoding: UTF-8
      string: |
        {
          "sys": {
            "type": "Error",
            "id": "AccessTokenInvalid"
          },
          "message": "The access token you sent could not be found or is invalid.",
          "requestId": "content-api:4tRa6vxxSUKMYqMCmMUG22"
        }
  recorded_at: Mon, 11 May 2015 20:54:30 GMT
recorded_with: VCR 2.9.3
