---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces/tyftcdahhwh8
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer bad
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: !ruby/marshalable:HTTP::Response::Status
        :__v2__:
        - :@code
        ? - 401
        : 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Status:
      - 401 Unauthorized
      X-Contentful-Request-Id:
      - bcc-851217905
    body:
      encoding: UTF-8
      string: |+
        {
          "sys":{
            "type":"Error",
            "id":"AccessTokenInvalid"
          },
          "requestId":"bcc-851217905",
          "message":"The access token you sent could not be found or is invalid."
        }

  recorded_at: Tue, 12 May 2015 20:23:31 GMT
- request:
    method: get
    uri: https://api.contentful.com/spaces
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer bad
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: !ruby/marshalable:HTTP::Response::Status
        :__v2__:
        - :@code
        ? - 401
        : 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Status:
      - 401 Unauthorized
      X-Contentful-Request-Id:
      - c0e-1765354958
    body:
      encoding: UTF-8
      string: |+
        {
          "sys":{
            "type":"Error",
            "id":"AccessTokenInvalid"
          },
          "requestId":"c0e-1765354958",
          "message":"The access token you sent could not be found or is invalid."
        }

  recorded_at: Tue, 12 May 2015 20:23:31 GMT
recorded_with: VCR 2.9.3
