---
http_interactions:
- request:
    method: get
    uri: https://api.contentful.com/spaces/ioe5ktfzxnxe
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer bad
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Status:
      - 401 Unauthorized
      X-Contentful-Request-Id:
      - c0e-1766511724
    body:
      encoding: UTF-8
      string: |+
        {
          "sys":{
            "type":"Error",
            "id":"AccessTokenInvalid"
          },
          "requestId":"c0e-1766511724",
          "message":"The access token you sent could not be found or is invalid."
        }

  recorded_at: Thu, 14 May 2015 16:24:00 GMT
- request:
    method: get
    uri: https://api.contentful.com/spaces
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer bad
      Content-Type:
      - application/vnd.contentful.management.v1+json
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/vnd.contentful.management.v1+json
      Status:
      - 401 Unauthorized
      X-Contentful-Request-Id:
      - bcc-852589933
    body:
      encoding: UTF-8
      string: |+
        {
          "sys":{
            "type":"Error",
            "id":"AccessTokenInvalid"
          },
          "requestId":"bcc-852589933",
          "message":"The access token you sent could not be found or is invalid."
        }

  recorded_at: Thu, 14 May 2015 16:24:01 GMT
recorded_with: VCR 2.9.3
